
.link{
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  margin-left: 40px;


}

#navbar{
  padding: 30px 0;
  width: 100%;
  position: fixed;
  top: 0; right: 0; 
  background-color:rgba(204,204,204,0.90);
  text-align: center;
  z-index: 1000;
}
#rectangle {border-radius: 20px;
    width: 600px;
    height: 400px;
    background-color:#7D3501;
    }

.logo{

  max-width: 160px;
  width: 150px;
  height: auto;

}

.button {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 30px;
  background: #db2525;
  transition: 0.2s;
  outline: none;
} 

p{color:#FA8900;
  font-size:50px;
  padding:0px;
 }
input{padding: 10px;
  line-height:1.5;
      } 
body{background:url("sv.jpg");
         background-size:100%;}

a1 {padding: 675px;
}
button {background-color: #FA8900;
    color: black;
    padding: 25px 100px;
    border-radius: 20px;}